/* [ ALTERNATE COLORS ] #31a05f (original) #5D735E  */

body {
  margin: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #e2e2e2;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#versions {
  position: absolute;
  top: 30px;
  right: 30px;
}
#versions a {
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: bold;
}

#search,
#results {
  width: 100%;
  min-height: 100%;
  margin: 0px;
}

/* Search */
#search {
  /* position: absolute; */
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
}

#intro {
  position: absolute;
  width: 40%;
  height: 108px;
  left: 102px;
  top: 233px;

}

#intro h1 {
  font-family: IBM Plex Sans;
/*   font-family: DM Serif Display; */
  font-family: Antic Didone;
  font-style: normal;
  font-weight: normal;
  /*   font-weight: bold; */
  font-size: 52px;
  line-height: 100%;
  text-transform: none;
  align-items: center;
  color: #ffffff;
  margin: 0px;
  text-shadow: 0px 0px 10px #0000007d;
}

#intro p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  width: 70%;
  font-style: italic;
}

#intro p i {
  display: block;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0px;
}

#search-form {
  position: absolute;
  width: 425px;
  height: 462px;
  right: 15%;
  /*   left: 661px; */
  top: 119px;
  /*   margin-left: 10%; */
  background: #111111;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 9px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.2);
}

#search-form label {
  position: relative;
  display: block;
  margin-bottom: 5px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.8);
}

#search-form label.error {
  position: absolute;
  font-weight: 500;
  color: red;
  font-size: 8px;
  text-transform: none;
  font-style: italic;
  width: 100%;
}

#commute-one {
  position: absolute;
  left: calc(697px - 661px);
  top: calc(235px - 129px);
}

#commute-two {
  position: absolute;
  top: calc(235px - 129px);
  width: 100%;
  left: calc(697px - 661px);
  display: none;
}

#commute-one a,
#commute-two a {
  font-style: italic;
  width: 350px !important;
  font-size: 10px;
  font-weight: 500;
  color: #aaa;
  display: inline-block;
  margin-top: 5px;
  text-align: center;
}

#commute-type-input {
  position: absolute;
  width: 145px;
  height: 68px;
  /*   left: calc(697px - 661px);
  top: calc(163px - 129px); */
}

#commute-duration-input {
  position: relative;
  width: 145px;
  height: 68px;
  left: calc(865px - 661px);
  /*   top: calc(163px - 129px); */
}

#pac-container {
  position: relative;
  width: 352px;
  height: 68px;
  margin-top: 10px;
  /*   top: calc(241px - 129px); */
}

#budget-input {
  position: absolute;
  width: 276px;
  height: 68px;
  left: calc(697px - 661px);
  top: calc(153px - 129px);
}

#age-input {
  position: absolute;
  width: 60px;
  height: 68px;
  left: calc(981px - 661px);
  top: calc(153px - 129px);
}

#keywords-type-input {
  position: absolute;
  width: 352px;
  height: 68px;
  left: calc(697px - 661px);
  top: calc(415px - 129px);
}

select#commute {
  /* position: absolute; */
  width: 175px;
  height: 45px;
  /* left: 697px;
  top: 186px; */
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: #ffffff;
  background-color: transparent;
}

select#beds {
  /* position: absolute; */
  width: 70px;
  height: 45px;
  /* left: 697px;
  top: 186px; */
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: #ffffff;
  background-color: transparent;
}

select#subway {
  /* position: absolute; */
  width: 145px;
  height: 45px;
  /* left: 697px;
  top: 186px; */
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: #ffffff;
  background-color: transparent;
}

select#subway option {
  background-color: transparent;
}

/* subway select */
#subway {
  display: none;
}

#a {
  padding-left: 0px;
}

#a img,
.btn-select img {
  width: 20px;
  display: inline-block;
  line-height: 100%;
}

#a li {
  list-style: none;
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
  overflow: hidden;
  border-radius: 20px;
  margin: 2px;
}

#a li:hover {
  /*   border: 1px solid #ffffffab; */
}

#a li img {
  /*   padding: 5px; */
}

#a li span,
.btn-select li span {
  margin-left: 10px;
  /* margin-top: -10px; */
  display: inline-block;
  /* position: relative; */
  height: 15px;
  padding-top: 3px;
  vertical-align: top;
  /* line-height: 10px; */
}

/* item list */

.b {
  display: none;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  max-height: 100px;
  overflow-y: scroll;
  color: #fff;
  z-index: 1;
  font-size: 10px;
}

.open {
  display: show !important;
}

.btn-select {
  margin-top: 10px;
  width: 100%;
  max-width: 350px;
  height: 34px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.btn-select li {
  list-style: none;
  text-align: left;
  height: 100%;
  width: 100%;
  /* line-height: 10px; */
  padding-bottom: 0px;
}

.btn-select:hover li {
  margin-left: 0px;
}

.btn-select:hover {
  /*   background-color: #f4f3f3; */
  /*   border: 1px solid transparent; */
  box-shadow: inset 0 0px 0px 1px #ccc;
}

.btn-select:focus {
  outline: none;
}

#search-form label.btn-select {
  background-color: transparent;
  text-transform: capitalize;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1qpx;
  line-height: 100%;
  text-align: right;
  padding: 10px;
  width: 100% !important;
  display: block;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;
}

#commute option {
  color: #000;
}

input#commute-duration {
  position: absolute;
  width: 145px;
  height: 45px;

  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
  padding-right: 25px;
  /* identical to box height, or 14px */

  color: #ffffff;
  background-color: transparent;
}

#commute-duration-input::after {
  display: block;
  position: absolute;
  margin-top: 16px;
  margin-left: 110px;
  text-transform: lowercase;
  content: "min";
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.2);
}

#pac-input {
  position: absolute;
  width: 352px;
  height: 45px;

  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  padding-left: 10px;
  /* identical to box height, or 14px */

  color: #ffffff;
  background-color: transparent;
}

#budget-min {
/*   width: 100px; */
width: 80px;
  height: 45px;
  margin-left: 10px;
  margin-right: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  padding-left: 20px;
  /* identical to box height, or 14px */
  color: #ffffff;
  background-color: transparent;
}

#budget-max {
/*   width: 100px; */
width: 80px;
  height: 45px;
  margin-left: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  padding-left: 20px;
  /* identical to box height, or 14px */

  color: #ffffff;
  background-color: transparent;
}

#budget-input::after {
  display: block;
  position: absolute;
  margin-top: -29px;
  margin-left: 145px;
  text-transform: lowercase;
  content: "$";
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.2);
}

#budget-input::before {
  display: block;
  position: absolute;
  margin-top: 37px;
  margin-left: 8px;
  text-transform: lowercase;
  content: "$";
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.2);
}

#age {
/*   width: 85px; */
width: 65px;
  height: 45px;

  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* padding-left: 20px; */
  text-align: right;
  /* identical to box height, or 14px */

  color: #ffffff;
  background-color: transparent;
}

#keywords {
  width: 352px;
  height: 70px;
  overflow-y: scroll;
  left: 697px;
  top: 428px;

  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 9px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  color: #ffffff;
  background-color: transparent;
}

.selectize-input {
  width: 352px;
  /* height: 45px; */
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 9px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: #ffffff;
}

.selectize-control.multi .selectize-input.has-items {
  background: transparent;
}

.selectize-control.multi .selectize-input > div {
  background: transparent;
  color: #fff;
  border: none;
  line-height: 22.5px;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  border: none;
  opacity: 0.5;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #fff;
  line-height: 22.5px;
}

.selectize-input.dropdown-active {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.selectize-control.multi .selectize-input > div.active {
  background: #31a05f;
  color: #fff;
  border: 0;
  border-radius: 6px;
}

.selectize-dropdown {
  color: #000;
}

input[type="submit"] {
  position: relative;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.04em;
  font-weight: normal;

  color: #ffffff;

  background-color: transparent;
  border: none;
  /*     width: 100%; */
  left: calc(50% - 27px / 2);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9px;
  padding: 5px 10px;
  top: 400px;
}
/* Results */

#results h2 {
  /* Top Picks */
  position: relative;
  width: 471px;
  height: 38px;
  /*   left: 82px; */
  top: 60px;
  /* font-family: Chivo; */
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  color: #000000;
  text-align: left;
}

#filters {
  text-align: left;
}

#filters a {
  /* Budget */

  position: relative;
  display: inline-block;
  width: auto;
  height: 21px;
  /*   left: 164px; */
  top: 46px;
  margin-right: 20px;

  /* font-family: Chivo; */
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;

  color: #a7a7a7;
}

#filters a.active {
  color: #000000;
}

#results {
  padding: 0% 100px;
  padding-bottom: 100px;
  width: calc(100% - 200px);
  text-align: center;
  position: relative;
  display: block;
}

.result {
  position: relative;
  display: inline-block;
  margin: 20px;
  left: 0%;
  right: 0%;
  top: 60px;
  bottom: 0%;
  width: 306px;
  height: 507px;
  background: #31a05f;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  text-align: left;
}

.snippet {
  position: absolute;
  left: 10.13%;
  right: 50.98%;
  top: 12.78%;
  bottom: 74.36%;
  z-index: 1;
}

.snippet .label {
  /* NEIGHBORHOOD */
  position: relative;
  /*   left: 10.13%;
  right: 57.52%;
  top: 12.62%;
  bottom: 85.01%; */
  /* font-family: Chivo; */
  /* font-style: italic; */
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.5);
}

.snippet h3 {
  /* Battery Park City */

  position: relative;
  margin: 0px;
  margin-bottom: 20px;
  /*   left: 10.13%;
  right: 50.98%;
  top: 15.78%;
  bottom: 74.36%; */

  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  /* or 24px */

  letter-spacing: 0.04em;

  color: #ffffff;
}

.snippet h6 {
  /* 75.30 */

  position: relative;
  margin: 0px;
  margin-bottom: 20px;
  /*   left: 10.13%;
  right: 74.84%;
  top: 33.93%;
  bottom: 62.92%; */

  /* font-family: Chivo; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  letter-spacing: 0.04em;

  color: #ffffff;
}

.snippet a {
    background-color: #000;
    width: 24px;
    height: 24px;
    font-size: 9.5px;
    color: #fff;
    text-decoration: none;
    /* font-weight: bold; */
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    display: block;
    line-height: 25px;
    padding: 3px;
    border-radius: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.snippet img.more-link {
  position: relative;
  width: 24px;
  height: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 240px;
}

.result .neighborhood-image {
  /* image 6 */
  position: relative;
  left: 53.92%;
  right: 0%;
  top: 20.71%;
  bottom: 36.29%;
  width: 141px;
  height: 218px;
  /* background: url(image.png); */
  background-size: cover;
  background-position: 40%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px 0px 0px 9px;
  z-index: 1;
}

.result .description {
  /* Rectangle 2 */
  position: absolute;
  display: block;
  /* left: 0%; */
  /* right: 0%; */
  /* top: -131px; */
  bottom: 0%;
  /* vertical-align: bottom; */
  width: 306px;
  height: 210px;
  background: #ffffff;
  border-radius: 9px;
}

.result .description h4 {
  /* All to know.. */
  position: relative;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 5px;
  left: 8.5%;
  right: 59.8%;
  /* top: 70.81%; */
  /* bottom: 26.04%; */
  /* font-family: Chivo; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  letter-spacing: 0.04em;
  color: #000000;
}

.result .description h5 {
  /* Lorem ipsum dolor sit amet. */
  position: relative;
  margin: 0px;
  left: 8.5%;
  right: 45.1%;
  /* top: 76.33%; */
  /* bottom: 21.1%; */
  width: 84%;
  /* font-family: Chivo; */
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 130%;
  /* identical to box height, or 13px */
  /*   letter-spacing: 0.04em; */
  color: #31a05f;
}

.result .description p {
  position: relative;
  display: inline-block;
  left: 8.5%;
  right: 6.86%;
  /* top: 79.88%; */
  /* bottom: 3.75%; */
  width: 84%;
  height: calc(100% - 115px);
  overflow-y: scroll;
  /* font-family: Chivo; */
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 130%;
  /* or 10px */
  letter-spacing: 0.04em;
  color: #747474;
}

/* Modals */
.blocker {
  background-color: #1d1d22;
}

.modal {
  max-width: 595px !important;
  height: 583px !important;
  /*     left: 224px; */
  /*     top: 58px; */
  border-radius: 25px;
  box-shadow: none;
  /* left: -10%; */
  background-color: #1d1d22;
  /* opacity: .7; */
}

.modal a.close-modal {
  top: 15px;
  right: 15px;
  background-image: url("icons/close-white-18dp.svg");
  width: 24px;
  height: 24px;
  /* background: #fff; */
}

.modal::after {
  content: "";
  border-radius: 25px;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: .6;
}

#battery-park::after {
  background: url("background-images/battery-park-2.jpg");
  background-size: cover;
  background-position: center;
}

#chelsea::after {
  background: url("background-images/chelsea-2.jpg");
  background-size: cover;
  background-position: center;
}

#chinatown::after {
  background: url("background-images/chinatown3-2.jpg");
  background-size: cover;
  background-position: center;
}

#civic-center::after {
  background: url("background-images/civic-center3-2.jpg");
  background-size: cover;
  background-position: center;
}

#east-harlem:after {
  background: url("background-images/east_harlem-2.jpg");
  background-size: cover;
  background-position: center;
}

#east-village::after {
  background: url("background-images/east-village-2.jpg");
  background-size: cover;
  background-position: center;
}

#financial-district::after {
  background: url("background-images/financial-district-2.jpg");
  background-size: cover;
  background-position: center;
}

#flatiron::after {
  background: url("background-images/flatiron4-2.jpg");
  background-size: cover;
  background-position: center;
}

#gramercy::after {
  background: url("background-images/gramercy4-2.jpg");
  background-size: cover;
  background-position: center;
}

#greenwich-village::after {
  background: url("background-images/greenwich-village-2.jpg");
  background-size: cover;
  background-position: center;
}

#harlem::after {
  background: url("background-images/harlem3-2.jpg");
  background-size: cover;
  background-position: center;
}

#hells-kitchen::after {
  background: url("background-images/midtown-west-2.jpg");
  background-size: cover;
  background-position: center;
}

#inwood::after {
  background: url("background-images/inwood-2.jpg");
  background-size: cover;
  background-position: center;
}

#kips-bay::after {
  background: url("background-images/kips-bay-2.jpg");
  background-size: cover;
  background-position: center;
}

#little-italy::after {
  background: url("background-images/little-italy3-2.jpg");
  background-size: cover;
  background-position: center;
}

#lower-east-side::after {
  background: url("background-images/lower-east-side2-2.jpg");
  background-size: cover;
  background-position: center;
}

#marble-hill::after {
  background: url("background-images/marble-hill-2.jpg");
  background-size: cover;
  background-position: center;
}

#midtown::after {
  background: url("background-images/midtown3-2.jpg");
  background-size: cover;
  background-position: center;
}

#morningside-heights::after {
  background: url("background-images/morningside-heights-2.jpg");
  background-size: cover;
  background-position: center;
}

#murray-hill::after {
  background: url("background-images/murray-hill-2.jpg");
  background-size: cover;
  background-position: center;
}

#noho::after {
  background: url("background-images/noho-2.jpg");
  background-size: cover;
  background-position: center;
}

#nolita::after {
  background: url("background-images/nolita2-2.jpg");
  background-size: cover;
  background-position: center;
}

#roosevelt-island::after {
  background: url("background-images/roosevelt-island-2.jpg");
  background-size: cover;
  background-position: center;
}

#soho::after {
  background: url("background-images/soho-2.jpg");
  background-size: cover;
  background-position: center;
}

#stuyvesant-town::after {
  background: url("background-images/stuyvesant-town-2.jpg");
  background-size: cover;
  background-position: center;
}

#theater-district::after {
  background: url("background-images/theater-district-2.jpg");
  background-size: cover;
  background-position: center;
}

#tribeca::after {
  background: url("background-images/tribeca-2.jpg");
  background-size: cover;
  background-position: center;
}

#two-bridges::after {
  background: url("background-images/two-bridges-2.jpg");
  background-size: cover;
  background-position: center;
}

#upper-east-side::after {
  background: url("background-images/upper-east-side3-2.jpg");
  background-size: cover;
  background-position: center;
}

#upper-west-side::after {
  background: url("background-images/upper-west-side4-2.jpg");
  background-size: cover;
  background-position: center;
}

#west-village::after {
  background: url("background-images/west-village2-2.jpg");
  background-size: cover;
  background-position: center;
}

#washington-heights::after {
  background: url("background-images/washington-heights-2.jpg");
  background-size: cover;
  background-position: center;
}

.love {
  position: absolute;
  /* width: 195px; */
  height: 3px;
  left: calc(249px - 224px);
  top: calc(88px - 58px);
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 10%;
  /* identical to box height, or 10px */
  color: #ffffff;
}

.love img {
  margin-bottom: -5px;
  margin-right: 5px;
}

.score {
  position: absolute;
  display: inline-block;
  /*   width: 98px; */
  height: 36px;
  left: calc(268px - 224px);
  top: calc(179px - 58px);

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  /* identical to box height, or 36px */

  color: #ffffff;
}

.score span {
  display: inline-block;
  /*   position: relative;
  width: 34px;
  height: 12px;
  top: -14px;
  margin-left: 110px; */

  /*   left: calc(378px - 224px);
  top: calc(203px - 58px); */

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  /* identical to box height, or 12px */

  color: #bdb8b8;
}

.modal .summary {
  /* Rectangle 2 */
  position: absolute;
  display: block;
  /* height: 130px; */
  max-height: 87px;
  width: 277px;
  overflow-y: hidden;
  margin-bottom: 30px;
  bottom: 0%;
  transition-timing-function: ease;
  transition-property: all;
  transition-duration: 700ms;
}

.summary:hover {
  max-height: 300px;
  transition-timing-function: ease;
  transition-property: all;
  transition-duration: 700ms;
}

.summary h1 {
  font-family: IBM Plex Sans;
  display: inline-block;
  margin: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* or 16px */
  color: #ffffff;
}

.summary span {
  margin-left: 10px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 130%;
  /* identical to box height, or 13px */
  color: #ffffff;
}

.summary p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  /* or 13px */

  color: #ffffff;
}

.transit {
  position: absolute;
  width: 122px;
  height: fit-content;
  left: calc(567px - 224px);
/*   top: calc(394px - 108px); */
  bottom: 0%;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 9px;
  text-align: center;
  padding: 10px;
}

.transit h1 {
  /* position: absolute; */
  /* width: 79px; */
  height: 11px;
  text-align: center;
  /* left: 597px;
  top: 444px; */
  /* left: calc(628px - 597px); */
  /* top: calc(455px - 414px); */
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 11px */
  opacity: 1;
  color: #31a05f;
}

.services span {
  text-align: center;
  /* position: absolute; */
  /* width: 69px; */
  /* height: 6px; */
  left: calc(603px - 577.5px);
  top: calc(473px - 487.5px);
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  /* line-height: 100%; */
  /* or 8px */
  text-align: center;
  display: block;
  color: #bdb8b8;
  margin: 10px;
}

.transit span:nth-child(3) {
  text-align: center;
  /* position: absolute; */
  /* width: 69px; */
  /* height: 6px; */
  /* left: calc(603px - 567px); */
  /* top: calc(473px - 394px); */
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 100%;
  /* or 8px */
  text-align: center;
  color: #bdb8b8;
  margin: 10px;
  display: block;
}

.transit span:nth-child(2) {
  text-align: center;
  position: absolute;
  width: 69px;
  height: 6px;
  left: calc(550px - 567px);
  top: calc(420px - 394px);
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 100%;
  /* or 8px */
  text-align: center;
  color: #bdb8b8;
}

.all-commutes {
  /* position: absolute; */
  /* width: 109px; */
  /* height: 49px; */
  /*   left: 583px;
  top: 485px; */
  left: calc(583px - 567px);
  top: calc(495px - 394px);
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 9px */
  color: #747474;
  margin: 10px;
}

.commute {
  display: inline-block;
  text-align: justify;
  width: 400px;
  margin-bottom: 5px;
}

.commute span:nth-child(1) {
  width: 85px;
  display: inline-block;
}

.commute span:nth-child(2) {
  color: #31a05f;
  text-align: center;
  position: relative;
  width: none;
  height: none;
  left: 0;
  top: 0;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 100%;
}

img.transit-img {
  /* position: absolute; */
  left: calc(628px - 567px);
  top: calc(414px - 394px);
  text-align: center;
  /* width: auto; */
  margin: 10px;
}

.services {
  /* position: absolute; */
  /* width: 120px; */
  /* height: 12px; */
  /*   left: 621px;
  top: 555px; */
  text-align: center;
  /* left: calc(621px - 610px); */
  /* top: calc(560px - 375px); */
}

.rents {
  position: absolute;
  width: 142px;
  height: 92px;
  left: calc(637px - 224px);
  top: calc(158px - 58px);
}

.rents span {
  /*   position: absolute; */
  width: 105px;
  height: 8px;
  /*   left: 638px;
  top: 158px; */

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 100%;
  text-transform: uppercase;
  /* identical to box height, or 8px */
  color: #bdb8b8;
}

.rent span {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-transform: none;
  /* identical to box height, or 14px */

  color: #ffffff;
  margin-top: 5px;
}

.rent span:nth-child(1) {
  width: 90px;
  display: inline-block;
}

.radar {
  position: absolute;
  width: 165px;
  height: 165px;
  /*     left: 770px;
    top: 293px; */

  left: calc(770px - 224px);
  top: calc(293px - 58px);

  background: #333339;
  border-radius: 165px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

svg:not(:root) {
  overflow: visible;
}

tspan {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 10px */

  color: #ffffff !important;
}

.tooltip {
  fill: #fff;
}

.tags {
  position: absolute;
  width: 153px;
  height: 53px;
  left: calc(761px - 224px);
  top: calc(521px - 58px);
}

.tags span {
  display: inline-block;
  margin: 5px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */

  color: #ffffff;
}

.tags span:nth-child(1) {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 100%;
  text-transform: uppercase;
  display: block;
  /* identical to box height, or 8px */

  color: #bdb8b8;
}

.map {
  width: 595px !important;
  height: 583px !important;
  border-radius: 25px;
  box-shadow: none;
  left: -10%;
  background-color: #1d1d22;
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
}

.links {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -30px;
}

.links a {
/*   color: transparent; */
  color: #fff;
  padding: 3px 5px;
/*   width: 10px; */
/*   height: 10px; */
  margin: 0px 2.5px;
  display: inline-block;
  border: 1px solid #35965b;
  background-color: transparent;
  border-radius: 6px;
  font-size: 10px;
/*   text-transform: uppercase; */
  font-style: italic;
}

.links a.active {
  background-color: #35965b;
  /* background-color: #aaa; */
}

.docs {
  width: calc(595px - 80px) !important;
  height: calc(583px - 80px) !important;
  padding: 40px;
  border-radius: 25px;
  box-shadow: none;
  left: -10%;
  background-color: #111115;
  color: #fff;
  top: 0px;
  left: 0px;
  display: none;
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  line-height: 125%;
  text-transform: none;
  /* identical to box height, or 14px */
  color: #ffffff;
  overflow-y: scroll;
}

.docs p::before {
  content: "“";
}

.docs p b {
  color: #31a05f;
  /*   font-style: italic; */
}

.docs span {
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 9px */
  color: #ffffffab;
  margin: 5px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

/* Help Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #31a05f;
  color: #fff;
  text-align: left;
  padding: 10px;
  font-size: 10px;
  border-radius: 6px;
  line-height: 115%;
  font-weight: 300;
  text-transform: none;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 3;
  /* opacity: 1; */
  margin-left: 5px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.hoverunderline:hover {
  text-decoration: underline;
}