<html>
  <head>
    <link rel="stylesheet" href="/static/multirange.css" />
    <!-- <link rel="stylesheet" href="/static/bootstrap.min.css"> -->
    <link
      href="https://fonts.googleapis.com/css?family=Lexend+Giga|Lora:700|Manrope&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900,900i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <script src="/static/multirange.js"></script>
    <script src="/static/script.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
      </div>
      <form class="form-inline global-search" method="POST">
        <h1>Manhattan Neighborhood Recommender</h1>

        <div class="form-group">
          I'm
          <input
            id="input"
            type="number"
            name="age"
            class="form-control"
            default="22"
          />
          years old and I like to commute by
          <select id="commute" name="commute-type">
            <option value="Walk">Walk</option>
            <option value="Bike">Bike</option>
            <option value="Car" selected>Car</option>
            <option value="Public Transit">Public Transit</option>
          </select>
          <br>
          Safety is <span class="safety">somewhat important</span> to me
          <input type="range" id="safety" name="safety" min="1" max="5" onchange="updateSafetyLabel()" />
          <!-- <p>Budget (0-5000)</p>
                <input type="range" id="vol" name="budget" min="0" max="5000"> -->
          <br />
          <span class="budget-min">$0</span>
          <input
            type="range"
            multiple
            value="0,5000"
            name="budget"
            id="budget"
            onchange="updateBudgetLabels()"
          />
          <span class="budget-max">$5,000</span>
          <br />

          I like to... <select
            multiple
            class="chosen-select"
            name="likes"
          >
            <option value=""></option>
            <option value="coffee-shops">Coffee Shops</option>
            <option value="watching-movies">Watching Movies</option>
            <option value="nightlife">Nightlife</option>
            <option value="music">Music</option>
            <option value="theater">Theater</option>
            <option value="restaurants">Restaurants</option>
            <option value="shopping">Shopping</option>
            <option value="architecture">Architecture</option>
            <option value="outdoors">Outdoors</option>
          </select>

          <!-- <select multiple="multiple" id="likes" name="likes">
                    <option value="coffee-shops">Coffee Shops</option>
                    <option value="watching-movies">Watching Movies</option>
                    <option value="nightlife">Nightlife</option>
                    <option value="music">Music</option>
                    <option value="theater">Theater</option>
                    <option value="restaurants">Restaurants</option>
                    <option value="shopping">Shopping</option>
                    <option value="architecture">Architecture</option>
                    <option value="outdoors">Outdoors</option>
                  </select> -->
        </div>
        <br />
        <button type="submit" class="btn btn-info">Go!</button>
      </form>
      <form class="form-inline global-search">
        {% if data %}
        <h4>{{output_message}}</h4>
        <br>
        {% for d in data %}
        <div class="result">
          <br />
          <h3>{{d['name']}}</h3>
          <br />
          <img src="{{d['image-url']}}" width="300" />
          <br />
          <h5>{{d['score']}}</h5>
          <p>{{d['description']}}</p>
        </div>
        {% endfor %} {% endif %}
      </form>
    </div>
  </body>
</html>
